@model MvcCvProje.Models.Entity.TblEgitimlerim

@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Eğitim Bilgisi Ekleme Sayfası</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Üniversite")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Fakülte")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })

    <br />
    @Html.Label("Bölüm")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("Genel Not Ortalaması")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })

    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })

    <br />
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>